.joinBtn {
  @apply uppercase
  bg-default
  text-center
  font-bold
  text-white
  rounded-lg
  md:py-3.5
  py-[10px]
  md:px-[30px]
  px-[20px]
  w-auto
  lg:w-[178px]
  md:w-[171px]
  h-auto
  md:h-[49px]
  lg:h-[50px]
  justify-center
  items-center
  text-[14px]
  md:text-[15px]
  lg:text-base
  leading-[1.3]
  inline-flex;
}

.joinBtn:hover {
  @apply bg-hover
  cursor-pointer;
}
